.linha__footer{
    display: flex;
    flex-direction: row;
}

.linha{
    width: 25%;
    height: 2px;
    margin: 6px 0 5px 0;
    background: #5856565c;
    position: relative;
}

.linha:nth-last-child(1){
    width: 75%;
    left: 1%;
}

#footer-ondinha img{
     width: 100vw;
    height: 17vw;
}

.redes__sociais{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-left: 1rem;
}

.icon-face{
    margin-left: 1rem;
    transition: 1s;
}

.icon-face:hover path{
    fill: #0049CC;
}

.icon-insta{
    margin-left: 1rem;
    transition: 1s;
}

.icon-insta:hover path{
    fill: #70009F;
}

.icon-whats{
    margin-left: 1rem;
    transition: 1s;
}

.icon-whats:hover path{
    fill: #007100;
}

.icon-tube{
    margin-left: 1rem;
    transition: 1s;
    width: 30px;
    height: 30px;
}

 svg .icon-tube:hover path{
    fill: #9A0000;
}