.titulo-sub-padrao{
    font-family: 'Sofia Sans';
    font-weight: normal;
}

.titulo-sub-padrao p{
    font-size: 1rem;
    color: rgb(69, 68, 68);
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative; top: 0.6rem;
}

.texto-padrao-cardapio{
    font-size: 1.875rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative; top: 0.6rem;
}

.caixa{
    font-family: 'Sofia Sans'; 
    display: flex;
    justify-content: left;   
    overflow-x: auto;
    padding: 1rem 0;
   }

.caixa li{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 1.875rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0 0 0 / 16%);
    border-radius: 0; 
    padding-bottom: 1.563rem;
   }

.caixa img, .current-item{
    width: 14.25rem;
    height: 10.75rem;
    object-fit: cover; 
    margin-bottom: 1.25rem;
    transition: all 0.2s ease-out;    
   }

.caixa li:hover{ 
    transform: scale(1.1);
    cursor: pointer;
    border-color: #333;
}

.caixa h2{
    margin-bottom: 1.75rem;
}

.caixa h3{
    font-size: 1.313rem;
    margin-top: 1.75rem;
    display: flex;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa::-webkit-scrollbar{
    display: none;
}

.container {
    position: relative;
}


.arrow-left{
    position: absolute;
    border-radius: 0.625rem;
    height: 6.5rem;
    width: 2.5rem;
    background: #dbdbdb center no-repeat ;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 10%);
    border-color: #dbdbdb;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    opacity: 80%;
}

.arrow-right{
    position: absolute;
    border-radius: 0.625rem;
    height: 6.5rem;
    width: 2.5rem;
    background: #dbdbdb center no-repeat ;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 10%);
    border-color: #ffffff00;
    left: 0;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    opacity: 80%;
}

.arrow-right:hover , .arrow-left:hover{
    cursor: pointer;
}

